#content {
    min-height: 100vh;
    padding: 8px 0 0 0;
    -webkit-box-shadow: inset 0px 8px 0px 0px #E6E6E6;
    -moz-box-shadow: inset 0px 8px 0px 0px #E6E6E6;
    box-shadow: inset 0px 8px 0px 0px #E6E6E6;
    border-bottom: 2px solid #E6E6E6;
}

.last-td {
    display: flex;
    justify-content: space-between;
}

.last-td p {
    padding: 0;
}

.last-td i {
    color: rgb(206, 206, 206);
    transition: color 0.25s;
}

.last-td i:hover {
    color: rgb(78, 78, 78);
    cursor: pointer;
}

.contentOptions {
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}